environment: 
  hostname: example.com
  gateway:
    name: example-gateway
    listener: web-example
    namespace: example

minecraft:
  minecraftServer:
    eula: true
    motd: "§l§5WiemanServer§r\n§rWelcome to my server!"
    memory: 9G

    worldSaveName: test
    version: "1.21.11"
    difficulty: hard
    maxPlayers: 20
    maxBuildHeight: 256
    spawnProtection: 0
    viewDistance: 20
    
    type: FORGE
    vanillaTweaksShareCodes: []
    modrinth:
      projects: []

    autoCurseForge:
      apiKey:
        existingSecret: curseforge-api-token
        secretKey: api-token
      # Link to modpack in general or a specific file
      pageUrl: 
      # List of project slugs or IDs to be excluded from modpack, useful if mod is incorrectly marked as server side
      excludeMods: []
      # List of project slugs or IDs to be included in modpack, useful if mod is incorrectly marked as client side only
      includeMods: []
      parallelDownloads: 4

    rcon:
      enabled: true
  
  extraEnv:
    ENABLE_WHITELIST: true
    CURSEFORGE_FILES: |
      https://www.curseforge.com/minecraft/mc-mods/bluemap/files/7320250

  persistence:
    dataDir:
      enabled: true
      Size: 10Gi

  mcbackup:
    enabled: true
    pauseIfNoPlayers: true

    backupInterval: 1h
    pruneBackupsDays: 2

    extraEnv:
      PRE_BACKUP_SCRIPT: |
        DATE_LOG="§l§d$(TZ="Europe/Amsterdam" date +"[%Y/%m/%d %H:%M:%S]")§r§e"

        rcon-cli say "$DATE_LOG Starting backup..." &>/dev/null &
      POST_BACKUP_SCRIPT: |
        DATE_LOG="§l§d$(TZ="Europe/Amsterdam" date +"[%Y/%m/%d %H:%M:%S]")§r§e"
        LATEST_BACKUP=$(ls "$DEST_DIR/${BACKUP_NAME}-"*.tgz 2>/dev/null | sort | tail -n 1)
        NEXT_BACKUP_LOG="§a§u$(TZ="Europe/Amsterdam" date -d "$(echo $BACKUP_INTERVAL | sed 's/h$//') hours" +"%H:%M")"

        rcon-cli say "$DATE_LOG Backup complete → §c[$LATEST_BACKUP]§r§e, Next backup at: $NEXT_BACKUP_LOG" &>/dev/null &

    persistence:
      backupDir:
        enabled: true
        Size: 10Gi

  resources:
    requests:
      memory: 10Gi
      cpu: 2

  extraVolumes:
    - volumeMounts:
      - name: whitelist
        mountPath: /data/whitelist.json
        subPath: whitelist.json
        readOnly: true
      - name: bluemap-core-config
        mountPath: /data/config/bluemap/core.conf
        subPath: core.conf
        readOnly: true
      volumes:
        - name: whitelist
          configMap:
            name: whitelist
            items:
              - key: whitelist.json
                path: whitelist.json
        - name: bluemap-core-config
          configMap:
            name: bluemap-core-config
            items:
              - key: core.conf
                path: core.conf