# Temporary files
*.temp*
*temp.*

# Environment files
env.yaml

# Helm files
Chart.lock
*.tgz

# Talos files
controlplane.yaml
worker.yaml
talosconfig

# Tofu files
**.tfstate**
.terraform**
kubeconfig