api_tokens:
  cloudflare:
    token: <cloudflare_api_token>
  curseforge:
    token: <curseforge_api_token>

basic_auth:
  password: <basic_auth_password>

proxmox:
  user:
    id: <proxmox_user>
    secret: <proxmox_api_token>

keycloak:
  admin:
    username: <keycloak_admin_username>
    password: <keycloak_admin_password>
