apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: wiecloud
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/wiemanboy/WieCloud.git
    targetRevision: master
    path: .
    helm:
      valueFiles:
      - ./values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true