traefik:
  service:
    externalIps:
      -192.168.178.194
    annotations:
      external-dns.alpha.kubernetes.io/hostname: wieman.cloud
  ingressRoute:
    dashboard:
      enabled: true
      matchRule: Host(`traefik.wieman.cloud`)
      entryPoints:
        - web
        - websecure
      middlewares:
        - name: basic-auth
  providers:
    kubernetesGateway:
      enabled: true
  gateway:
    listeners:
      web:
        port: 80
        protocol: HTTP
      websecure:
        port: 443
        protocol: HTTPS
        namespacePolicy:
          from: All 
        mode: Terminate
        certificateRefs:
          - name: letsencrypt-secret
            kind: Secret
  ports:
    web:
      port: 80
      redirections:
        entryPoint:
          to: websecure
          scheme: https
    websecure:
      port: 443
      tls:
        enabled: true
  tlsStore:
    default:
      defaultCertificate:
        secretName: letsencrypt-secret