{{- if .Values.infrastructure.argocd.deploy -}}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
spec:
  project: infrastructure
  source:
    chart: argocd
    targetRevision: {{ .Values.infrastructure.argocd.version }}
    helm:
      values: 
        environment: {{ .Values.environment }}
        argo-cd:
          configs:
            cm:
              url: https://argo.{{ .Values.environment.hostname }}
              oidc.config: |
                name: Keycloak
                issuer: https://keycloak.wieman.cloud/realms/infrastructure
                clientID: argocd
                clientSecret: $oidc.keycloak.clientSecret
                requestedScopes: ["openid", "profile", "email", "groups"]
  destination:
    namespace: argocd
  {{- toYaml .Values.infrastructure.defaults | nindent 2 }}
{{- end }}