apiVersion: v1
kind: ConfigMap
metadata:
  name: oidc-setup
data:
  oidc-setup.sh: |
    set -e

    client_secret=$(cat /var/run/secrets/nextcloud-client-secret)

    # OIDC configuration:
    php occ config:app:set --type=string --value=0 user_oidc allow_multiple_user_backends
    php occ user_oidc:provider {{ .Values.environment.oidc.provider }} --clientid="nextcloud" --clientsecret="${client_secret}" --discoveryuri="{{ .Values.environment.oidc.endpoint }}/.well-known/openid-configuration"
