apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: keycloak
spec:
  instances: 1
  db:
    vendor: {{ .Values.keycloak.db.vendor }}
    host: {{ .Values.keycloak.db.host }}
    usernameSecret:
      name: {{ .Values.keycloak.db.username.secret }}
      key: {{ .Values.keycloak.db.username.key }}
    passwordSecret:
      name: {{ .Values.keycloak.db.password.secret }}
      key: {{ .Values.keycloak.db.password.key }}
  ingress:
    enabled: false
  http:
    httpEnabled: true
  hostname:
    hostname: keycloak.{{ .Values.environment.hostname }}
  proxy:
    headers: xforwarded
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: keycloak
spec:
  parentRefs:
    - name: {{ .Values.environment.gateway.name }}
      sectionName: {{ .Values.environment.gateway.listener }}
      namespace: {{ .Values.environment.gateway.namespace }}

  hostnames:
    - keycloak.{{ .Values.environment.hostname }}

  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /

      backendRefs:
        - name: keycloak-service
          namespace: {{ .Release.Namespace }}
          port: 8080
