machine:
  install:
    image: factory.talos.dev/installer/{image_id}:{version}
  kubelet:
    extraMounts:
      - destination: /var/lib/longhorn
        type: bind
        source: /var/lib/longhorn
        options:
          - bind
          - rshared
          - rw