apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: argocd-server
spec:
  parentRefs:
    - name: {{ .Values.environment.gateway.name }}
      sectionName: {{ .Values.environment.gateway.listener }}
      namespace: {{ .Values.environment.gateway.namespace }}

  hostnames:
    - argo.{{ .Values.environment.hostname }}
    
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /

      backendRefs:
        - name: argocd-server
          namespace: {{ .Release.Namespace }}
          port: 80