apiVersion: batch/v1
kind: Job
metadata:
  name: update-oidc-client-secret
  namespace: argo-cd
spec:
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      serviceAccountName: argocd-server # or another SA with secret patch perms
      containers:
      - name: update-oidc-client-secret
        image: alpine/kubectl:1.34.0
        env:
        - name: CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: argo-client-secret
              key: secret
        command:
        - /bin/sh
        - -c
        - |
          kubectl -n argo-cd patch secret argocd-secret \
            --type=merge \
            --patch "{\"stringData\": {\"oidc.keycloak.clientSecret\": \"${CLIENT_SECRET}\"}}"
