environment: 
  hostname: example.com
  gateway:
    name: example-gateway
    listener: web-example
    namespace: example
    authentication:
      enabled: true
      basicAuth:
        name: example-auth
        secret:
          name: example-server-auth-secret

traefik:
  service:
    externalIps:
      - 85.148.81.86
    loadbalancerIp: 192.168.178.201
    annotations:
      external-dns.alpha.kubernetes.io/hostname: wieman.cloud
      external-dns.alpha.kubernetes.io/target: 85.148.81.86
  providers:
    kubernetesGateway:
      enabled: true
  gateway:
    annotations:
      external-dns.alpha.kubernetes.io/target: wieman.cloud
    listeners:
      web:
        port: 80
        protocol: HTTP
      websecure:
        port: 443
        protocol: HTTPS
        namespacePolicy:
          from: All 
        mode: Terminate
        certificateRefs:
          - name: letsencrypt-secret
            kind: Secret
      minecraft:
        port: 25565
        protocol: TCP
        hostname: mc.wieman.cloud
        namespacePolicy:
          from: All 
        mode: Terminate
        certificateRefs:
          - name: letsencrypt-secret
            kind: Secret

  ports:
    web:
      port: 80
      redirections:
        entryPoint:
          to: websecure
          scheme: https
    websecure:
      port: 443
      tls:
        enabled: true
    minecraft:
      port: 25565
      tls:
        enabled: true

  tlsStore:
    default:
      defaultCertificate:
        secretName: letsencrypt-secret
