environment: 
  hostname: example.com
  gateway:
    name: example-gateway
    listener: web-example
    namespace: example
    authentication:
      enabled: true
      basicAuth:
        name: example-auth
        secret:
          name: example-server-auth-secret