environment: 
  hostname: wieman.cloud
  gateway:
    name: traefik-gateway
    listener: websecure
    namespace: gateway
    authentication:
      enabled: true
      basicAuth:
        name: basic-auth
        secret:
          name: server-auth-secret