harbor:
  expose:
    type: NodePort
    tls:
      enabled: false
  externalURL: https://harbor.wieman.cloud
  core:
    extraEnvVars:
    - name: OIDC_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: harbor-client-secret 
          key: secret
    - name: CONFIG_OVERWRITE_JSON
      value: |
        {
          "auth_mode": "oidc_auth",
          "primary_auth_mode": "true",
          "oidc_name": "keycloak",
          "oidc_endpoint": "https://keycloak.wieman.cloud/realms/master",
          "oidc_groups_claim": "groups",
          "oidc_admin_group": "harbor-admin",
          "oidc_client_id": "harbor",
          "oidc_scope": "openid,email,profile,offline_access",
          "oidc_verify_cert": "true",
          "oidc_auto_onboard": "true",
          "oidc_user_claim": "preferred_username"
        }