environment:
  hostname: wieman.cloud
  gateway:
    name: traefik-gateway
    listener: websecure
    namespace: gateway

argo-cd:
  configs:
    params:
      server.insecure: true
    cm:
      url: https://argo.wieman.cloud
      exec.enabled: true
      oidc.config: |
        name: Keycloak
        issuer: https://keycloak.wieman.cloud/realms/infrastructure
        clientID: argocd
        clientSecret: $oidc.keycloak.clientSecret
        requestedScopes: ["openid", "profile", "email", "groups"]