environment: 
  hostname: example.com
  gateway:
    name: example-gateway
    listener: web-example
    namespace: example

argo-cd:
  configs:
    params:
      server.insecure: true
    cm:
      url: https://argo.example.com
      exec.enabled: true
      oidc.config: "overwritten"