name: Build garage

on:
  pull_request:
    branches:
    - master

jobs:
  package_and_push:
    name: ${{ inputs.chart_name }} Helm Chart
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Clone
      run: git clone https://git.deuxfleurs.fr/Deuxfleurs/garage

    - name: Registry Login
      run: |
        set -e

        echo "Login in to harbor.wieman.cloud"
        helm registry login harbor.wieman.cloud --username ${{ secrets.OCI_REGISTRY_USERNAME }} --password ${{ secrets.OCI_REGISTRY_PASSWORD }}

    - name: Package Helm Chart
      id: package
      run: |
        set -e

        ls
        echo -> garage
        ls garage
        echo -> garage/scripts
        ls garage/scripts
        echp -> garage/scripts/helm
        ls garage/scripts/helm
        echo -> garage/scripts/helm/garage
        ls garage/scripts/helm/garage

        cmd="bash ./pipeline/build/scripts/helm/helm_package.sh --path garage/scripts/helm/garage"
        output=$($cmd)

        chart_path=$(echo "$output" | grep -oE '/[^ ]+\.tgz')
        echo "Packaged chart path: $chart_path"
        echo "chart_package_path=$chart_path" >> "$GITHUB_OUTPUT"

    - name: Push Helm Chart
      if: steps.check_commit.outputs.skip == 'false'
      run: bash ./pipeline/build/scripts/helm/helm_push.sh --package ${{ steps.package.outputs.chart_package_path }} --registry harbor.wieman.cloud --repository external
