name: Build Helm Chart

on:
  workflow_call:
    inputs:
      chart_name:
        description: "Name of the Helm chart"
        required: true
        type: string
      chart_path:
        description: "Path to the Helm chart to be packaged and pushed"
        required: true
        type: string
      registry:
        description: "OCI registry URL"
        required: true
        type: string
      repository:
        description: "Repository name in the OCI registry"
        required: true
        type: string
      skip_version_check:
        description: "Skip version check for building src images"
        required: false
        default: false
        type: boolean
    secrets:
      registry_username:
        description: "Username for the OCI registry"
        required: true
      registry_password:
        description: "Password for the OCI registry"
        required: true
      app_client_id:
        description: "App Client ID"
        required: true
      app_private_key:
        description: "App Private Key"
        required: true

jobs:
  package_and_push:
    name: ${{ inputs.chart_name }} Helm Chart
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 2

    - name: Check for version change
      if: inputs.skip_version_check == 'false'
      shell: bash
      run: |
        set -e

        # Make sure no production images are overwritten
        echo "Checking for version change"
        git fetch origin master
        git diff origin/master -- ${{ inputs.chart_path }}/Chart.yaml | grep +version || $(echo "Version not updated, exiting" && exit 1)

    - name: Check if workflow should run
      id: check_commit
      shell: bash
      run: |
        set -e

        LAST_MSG=$(git log -1 --pretty=%s --skip=1 HEAD)
        echo "Last commit message: $LAST_MSG"

        # Run when version changes
        if [[ "$LAST_MSG" == "UPDATE: reference versions in wiecloud/chart/values.yaml"* ]]; then
          echo "Last commit was version change, running build pipeline"
          echo "skip=false" >> "$GITHUB_OUTPUT"

          TAG=$(echo "$LAST_MSG" | grep -oP '\[\K[^\]]*')
          echo "tag=$TAG" >> "$GITHUB_OUTPUT"

          exit 0
        fi

        echo "Version not changed, skipping build"
        echo "skip=true" >> "$GITHUB_OUTPUT"

    - name: Registry Login
      if: steps.check_commit.outputs.skip == 'false'
      run: |
        set -e

        echo "Login in to ${{ inputs.registry }}"
        helm registry login ${{ inputs.registry }} --username ${{ secrets.registry_username }} --password ${{ secrets.registry_password }}

    - name: Package Helm Chart
      if: steps.check_commit.outputs.skip == 'false'
      id: package
      run: |
        set -e
        echo ${{ steps.check_commit.outputs.tag }}

        cmd="bash ./pipeline/build/scripts/helm/helm_package.sh --path ${{ inputs.chart_path }}"
        # Add --tag only if outputs.tag is not empty
        if [[ -n "${{ steps.check_commit.outputs.tag }}" ]]; then
          cmd="$cmd --tag ${{ steps.check_commit.outputs.tag }}"
        fi

        output=$($cmd)

        chart_path=$(echo "$output" | grep -oE '/[^ ]+\.tgz')
        echo "Packaged chart path: $chart_path"
        echo "chart_package_path=$chart_path" >> "$GITHUB_OUTPUT"

    - name: Push Helm Chart
      if: steps.check_commit.outputs.skip == 'false'
      run: bash ./pipeline/build/scripts/helm/helm_push.sh --package ${{ steps.package.outputs.chart_package_path }} --registry ${{ inputs.registry }} --repository ${{ inputs.repository }}
