name: Package and Push Helm Chart

on:
  workflow_call:
    inputs:
      chart_path:
        description: "Path to the Helm chart to be packaged and pushed"
        required: true
        type: string
      registry:
        description: "OCI registry URL"
        required: true
        type: string
      repository:
        description: "Repository name in the OCI registry"
        required: true
        type: string
    secrets:
      registry_username:
        description: "Username for the OCI registry"
        required: true
      registry_password:
        description: "Password for the OCI registry"
        required: true

jobs:
  package_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      # - name: Set up Helm
      #   run: curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Registry Login
        run: helm registry login ${{ inputs.registry }} --username ${{ secrets.registry_username }} --password ${{ secrets.registry_password }}
      - name: Package Helm Chart
        id: package
        run: |
          set -e
          output=$(bash ./pipeline/build/scripts/package_chart.sh --path ${{ inputs.chart_path }})
          echo "$output"
          chart_path=$(echo "$output" | grep -oE '/[^ ]+\.tgz')
          echo "Packaged chart path: $chart_path"
          echo "chart_package_path=$chart_path" >> "$GITHUB_OUTPUT"

      - name: Push Helm Chart
        run: bash ./pipeline/build/scripts/push_chart.sh --package ${{ steps.package.outputs.chart_package_path }} --registry ${{ inputs.registry }} --repository ${{ inputs.repository }}
